.speech{
    font:300;
    size: 6px;
    font-family:Arial, Helvetica, sans-serif ;
    color:black;
}
.direction{
    font:bolder;
    font-family: 'Times New Roman', Times, serif;
    size: 0cm;
    background-color:blueviolet;
    color: black;

}
.direction:hover{
    background-color:aqua;
    color:blue;
}
.name{
    font: 300px;;
    size: 6px;
    color:blueviolet
}
.name:hover{
    color:hsl(180, 100, 97);
    text-shadow: 10px orangered;
    text-shadow:3px 4px 5px hsl(180, 100, 97);
    color:antiquewhite;        
}
.MonsieurJourdain{
    color:hsl(190, 90, 97);

}
.DancingMaster{
    color:palevioletred;
}

.OnsieurJourdain{
    color:aqua;

}
.MusicMaster{
    color:orange
}
.table,
th
{
    color:rgb(67, 196, 16);
    border: solid slategray;
    border-collapse: collapse;
    text-align: center;
    margin: 500px ;
    padding: 5px;
    background-color:blanchedalmond;
}
td{
    color:red;
    border: 200px black;
    text-align: center;
    margin: 50px;
    padding: 5px;
    background-color:aquamarine;
}